<table id="games" class="table table-bordered table-hover" width="100%">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Genres
            </th>
            <th>
                Platforms
            </th>
            <th>
                Summary
            </th>
            <th>
                Overall Rating
            </th>
        </tr>
    </thead>
</table>
