@model  VideoGameAPI_Example.ViewModels.SearchViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sub-topic">
    <h2>Search for Top Rated Games by their Title</h2>

    @using (Html.BeginForm("GetGames", "Search", FormMethod.Post, new { id = "searchForm" }))
    {
        // Game Title
        <div class="form-group">
            @Html.LabelFor(q => q.Name)
            @Html.TextBoxFor(q => q.Name, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(q => q.Name)
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    }
</div>

@section scripts
{
    <script language="javascript">
        $(document).ready(function () {
            $("#searchForm").submit(function () {
                var nameVal = $("#Name").val();
                $("#Name").val(nameVal.replace(/[^a-z0-9\s]/gi, ''));
            })
        })
    </script>
}

