<div class="jumbotron">
    <h1>Top Games List &amp; Search</h1>
    <p class="lead">
        Welcome to the Top Games List &amp; Search web site. This is a portfolio
        web site built by Dan Modesto. The purpose of this site is to provide demonstratable knowledge
        of building web sites using ASP.NET C#, Entity Framework, and MVC. This 
        web site utilizes an external public api from 
        <a href="https://igdb.com">IGDB.com</a> to list and search the top games
        by console and game engine where applicable.
    </p>
</div>
<div class="row">
    <div class="col-md-6 sub-topic">
        <h2>Top Games</h2>
        <p>
           Use the <strong>Top Games</strong> form to view the video games 
            with the highest ratings within the IGDB database. The form allows
            you to view the games by console category "Home" or "Portable", by
            the console brand, and the game engine where applicable. 
            <em>
                The game engine results are sparse, so please take them 
                with a grain of salt.
            </em>
        </p>
        <p>
            @Html.ActionLink("Top Games", "Index", "TopGames", new { area = "" }, new { @class = "btn btn-primary btn-default" })
        </p>
    </div>
    <div class="col-md-6 sub-topic">
        <h2>Search</h2>
        <p>
            Use the <strong>Search</strong> option to search for a certain
            game title. The search results should provide the game's rating
            based on the information provided by the IGDB database.
        </p>
        <p>
            @Html.ActionLink("Search", "Index", "Search", new { area = "" }, new { @class = "btn btn-primary btn-default" })
        </p>
    </div>
</div>
