body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("images/pc_game-wallpapers-1280x720.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #000;
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

h2 {
    padding-top: 10px;
    margin-left: 10px;
    text-shadow: -1px 0 3px #000000, 1px 0 3px #000000;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error {
    color: red;
    font-weight: bold;
}

.input-validation-error {
    border: solid;
    border-color: red;
}

.container {
    min-width: 320px;
    color: white;    
}

.container.body-content {
    background-color: rgba(0, 0, 0, 0.7);
}

.dt_display {
    display: table;
}

.jumbotron {
    background: none;
    padding-top: 30px !important;
    padding-bottom: 0px !important;
}

.jumbotron a {
    color: #FCC332;
}

form {
    padding: 15px;
}

img[id="gameCover"] {
    float:left; 
    padding:10px 10px 10px 20px;
}

.navbar-header {
    min-width: 370px;
} 

.navbar img {
    width: 60px;
    height: 60px;
    float: left;
    margin: -12px 20px 0 0;
    border: 1px solid black;
    border-radius: 50%;
}

.navbar-brand {
    width: 350px;
    margin-bottom: -10px;
}

.navbar-brand > div, .navbar-brand a:link, .navbar-brand a:visited, .navbar-brand a:hover, .navbar-brand a:active {
    color: white;
}

.navbar-nav > li > a {
    line-height: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    color: white !important;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.navbar-toggle {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Extra small devices (phones, 360px width and down) */
@media (max-width: 360px) {
    /*.navbar-nav > li > a {
        line-height: 10px;
        padding-top: 11px;
        padding-bottom: 11px;
    }*/

    .jumbotron p {
        font-weight: 400;
    }

    .navbar-brand {
        max-width: 300px;
        font-size: 15px;
    }

    h1 {
        font-size: 30px;
    }
}

/* Small devices (small tablets and large phones, 360px width to 600px width) */
@media only screen and (min-width: 360px) and (max-width: 600px) {
    /*.navbar-nav > li > a {
        line-height: 12px;
        padding-top: 13px;
        padding-bottom: 13px;
    }*/

    .jumbotron p {
        font-weight: 400;
    }

    .navbar-brand {
        max-width: 310px;
        font-size: 17px;
    }

    body {
        font-size: 12px;
    }

    h1 {
        font-size: 36px;
    }
}

/* medium devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px ) {
    /*.navbar-nav > li > a {
        line-height: 14px;
        padding-top: 15px;
        padding-bottom: 15px;
    }*/

    .jumbotron p {
        font-weight: 400;
    }

    .navbar-brand {
        max-width: 360px;
    }

    h1 {
        font-size: 42px;
    }
}

@media only screen and (min-width: 768px ) {
    h1 {
        font-size: 52px !important;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
/*@media only screen and (min-width: 768px) {
    .navbar-nav > li > a {
        line-height: 21px;
        padding-top: 22px;
        padding-bottom: 22px;
        background-color: mediumaquamarine;
    }
}*/

/* Large devices (laptops/desktops, 992px and up) */
/*@media only screen and (min-width: 992px) {
    .navbar-nav > li > a {
        line-height: 21px;
        padding-top: 22px;
        padding-bottom: 22px;
        background-color: mediumaquamarine;
    }
}*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
/*@media only screen and (min-width: 1200px) {
    body {
        background-color: red;
    }
}*/

.gameTitle {
    display: flex;
}

#games.more {
    display: none;
}

#games.dataTable tbody tr:hover {
    background-color: rgba(1, 1, 1, 0.5);
}

#games.dataTable a {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

#games.dataTable a:hover {
    /*color: #E8D43C;*/
    color: #FCC332;
    text-decoration: underline;
    font-weight: bold;
}

.btn-link, .btn-link:hover {
    color: #FCC332;
}

.details {
    margin-top: 10px;
}